.header {
  display: flex;
  height: 73px;
  width: 100%;
}

.logo_container {
  width: 140px;
  padding: 11px 0 4px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_description {
  padding-right: 5px;
  width: 165px;
  height: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #E4E5EA;
}

.phone_number {
  margin-left: auto;
  margin-right: 0;
  padding-top: 15px;
  padding-right: 45px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #E4E5EA;
}

.messegers_container {
  padding-top: 14px;
  width: 120px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1100px) {

  .phone_number {
    margin-left: auto;
    margin-right: 0;
    padding-top: 15px;
    padding-right: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #E4E5EA;
  }

}

@media (max-width: 900px) {
  .logo_container {
    display: none;
  }

  .phone_number {
    display: none;
  }
}

@media (max-width: 500px) {

  .messegers_container {
    display: none;
  }

  .header {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    justify-content: center;
    background-color: #0E1014;
  }
}